:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
}

.header-title {
   display: flex;
   gap: 0.5rem;
   font-size: 2rem;
   font-weight: 400;
   cursor: pointer;
}

main {
  margin: 3rem 0.5rem;
}

main img {
  height: auto;
  width: 100%;
  border-radius: 1rem;
}

.add-ingredient-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.add-ingredient-form input {
  border-radius: 5px;
  padding: 0.5rem 1rem;

}

.add-ingredient-form button {
  background: #213547;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-family: Inter, san-serif;
  outline: none;
  color: #f9f9f9;
}

.add-ingredient-form button::before {
  content: "+";
  margin-right: 0.2rem;
}

.recipe-container {
  align-self: flex-start;
}

.prompt-api-btn {
  background: #213547;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-family: Inter, san-serif;
  outline: none;
  color: #f9f9f9;
}

.pads-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.pads-container button {
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  opacity: 0.1;
}

.pads-container button.on {
  opacity: 1;
}

@media screen  and (min-width:1080px) {
  main {
   margin: auto 20vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
  }

  .chef-img {
    max-width: 500px;
    align-self: center;
    margin: 2rem 0;
  }

  .image-section {
    width: 50%;
  }
  .main-section {
    width: 50%;
    margin: 2rem 0;
  }
}